Datasets/*
Results/*
__pycache__/

*.err.*
*.out.*
*.txt
*.html
*.wsd
*.png

*.sh

logs/
wandb/
neuvo_venv/
*.cff

*egg-info/
.ipynb_checkpoints/

*.pyc

evo_params.txt
example.py